.App {
  text-align: center;
}

.mainLayer {
  background-color: black;
  color: greenyellow;
}

a {
  text-decoration: none;
  color: beige;
  /* background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat;
  background-size: 16px 16px;
  padding-right: 19px; */
}

.linkIcons{
  padding: 0px 10px;
}